﻿@model _4YearSchedulerWeb.Models.ListOfExemptedCourses

@{
    Layout = null;
}

@if(Model.exemptedCourses.Count > 0)
{
    using (Html.BeginForm("Schedule", "Scheduler"))
    {
        <h2> Choose courses you are exempt from: </h2>
        
        @Html.EditorFor(m=>m.exemptedCourses)         
        
        <input type="submit" value="Submit" />                
    }
}