﻿@model _4YearSchedulerWeb.Models.MajorModel
@{
    ViewBag.Title = "MajorPick";
}

<h2>MajorPick</h2>
@using (Html.BeginForm("MajorPick", "Scheduler"))
{
    @Html.Label("Major: ");
    @Html.TextBoxFor(x => x.name);
    <input type="submit" value="Submit" />
}

 <div id ="courses">
        @{
            Html.RenderAction("GetExemptCoursesForMajor", new { maj = Model });
          }
    </div> 
    