﻿

@model List<_4YearSchedulerWeb.Models.Semester>
<html>
<head>
<title> Scheduler</title>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>4 Year Schedule</h1>

    @for(int i = 0; i < Model.Count; i+=2)
    {
        if(i/2 == 0)
        {
             <h2> Freshman </h2>  
        }      
        else if(i/2 == 1)
        {
              <h2> Sophomore </h2>
        }
        else if(i/2 == 2)
        {
             <h2> Junior </h2>
        }
        else if(i/2 == 3)
        {
            <h2> Senior </h2>
        }
        <table>
        <tr>
       
         <td>
            <table>
                <tr>
                    <th> Course Name</th>
                    <th> Credits</th>
                </tr>
        
                @foreach(var course in Model.ElementAt(i).m_courses)
                {
                    <tr>
                        <td> @course.CourseName </td>
                        <td> @course.NumberOfCredits </td>
                    </tr>
                }
            </table>
          </td>
            
            @if(i + 1 < Model.Count)
            {
                <td>
                <table>
                    <tr>
                        <th> Course Name</th>
                        <th> Credits</th>
                    </tr>
        
                    @foreach(var course in Model.ElementAt(i + 1).m_courses)
                    {
                        <tr>
                            <td> @course.CourseName </td>
                            <td> @course.NumberOfCredits </td>
                        </tr>
                    }
                </table>
              </td>
            }
        
        </tr>
        </table>
        <br />
        <br />
    }
</body>
</html>
